{% extends 'layout.html.twig' %}

{% block title %}Evenements index{% endblock %}

{% block body %}
    <h1 class="t2">Liste des évenements</h1>
    <a href="{{ path('evenements_new') }}"><button class="btn btn-danger mt-5 mb-5">Créer un nouvel évenement</button></a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de l'évenement</th>
                <th>Date</th>
                <th>Heure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.name }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.hour ? evenement.hour|date('h:m') : '' }}</td>

                <td>
                    <a href="{{ path('evenements_show', {'id': evenement.id}) }}"><i class="far fa-eye mr-2 text-danger"></i></a>
                    <a href="{{ path('evenements_edit', {'id': evenement.id}) }}"><i class="fas fa-pencil-alt text-danger"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas d'évenement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
