{% extends 'layout.html.twig' %}

{% block title %}Configuration et envoi du formulaire{% endblock %}

{% block titre %}{{ event.name }} <br/>du {{ event.date | date('d-m-y') }}{% endblock %}

{% block body %}
    <h1>Configuration et envoi du formulaire</h1>
    {#{{ form_row(form.satisfaction) }}#}
    {#{{ form_row(form.upgrade) }}#}
    {#{{ form_row(form.growth) }}#}
    {#{{ form_row(form.contacts) }}#}
    {#{{ form_row(form.source) }}#}
    {#{{ form_row(form.comment) }}#}
    {#<details>#}
        {#<summary>Ajouter d'autres questions</summary>#}
        {#{{ form_row(form.option1) }}#}
        {#{{ form_row(form.option2) }}#}
        {#{{ form_row(form.option3) }}#}
        {#{{ form_row(form.option4) }}#}
        {#{{ form_row(form.option5) }}#}
        {#{{ form_row(form.option6) }}#}
        {#{{ form_row(form.option7) }}#}
        {#{{ form_row(form.option8) }}#}
        {#{{ form_row(form.option9) }}#}
    {#</details>#}
    {{ include('evenements/_form.html.twig', {'button_label': 'Envoyer'}) }}
    {% endblock %}

{% block footer %}{% endblock %}
