{% extends 'layout.html.twig' %}

{% block title %}Evenements{% endblock %}
    {% block image %}
        <div class="col-sm-4 ">
            <img class="bg_layout2" src="/assets/img/bt_large.png" alt="background"/>
            <h1 class="titre"> {% block titre %}{% endblock %}</h1>
        </div>
    {% endblock %}
{% block body %}

    <a href="{{ path('evenements_index') }}">
        <button class="btn btn-danger mb-5 "><i class="fas fa-chevron-left"></i><i
                    class="fas fa-chevron-left"></i> Retour
        </button>
    </a>
    <h1 class="t2 mb-5 mt-5 text-center mr-5">{{ evenement.name }}
        <small>Du {{ evenement.date ? evenement.date|date('Y-m-d') : '' }}
            à {{ evenement.hour ? evenement.hour|date('h:m') : '' }}</small>
    </h1>


    <table class="table">
        <thead>
        <th>nom</th>

            <th>satisfaction %</th>

            <th>amélioration</th>

            <th>Réseau élargi</th>

            <th>Nb Contact</th>

            <th>Connaissance Ev.</th>

        {% if evenement.formulaires.option1 %}
            <th>{{ evenement.formulaires.option1 }}</th>
            {% else %}
                <th>Option1</th>
        {% endif %}

        {% if evenement.formulaires.option2 %}

            <th>{{ evenement.formulaires.option2 }}</th>
        {% else %}
            <th>Option2</th>
        {% endif %}

        {% if evenement.formulaires.option3 %}

            <th>{{ evenement.formulaires.option3 }}</th>
        {% else %}
            <th>Option3</th>
        {% endif %}


        {% if evenement.formulaires.option4 %}
            <th>{{ evenement.formulaires.option4 }}</th>
        {% else %}
            <th>Option4</th>
        {% endif %}


        {% if evenement.formulaires.option5 %}
            <th>{{ evenement.formulaires.option5 }}</th>
        {% else %}
            <th>Option5</th>
        {% endif %}

        {% if evenement.formulaires.option6 %}
            <th>{{ evenement.formulaires.option6 }}</th>
        {% else %}
            <th>Option6</th>
        {% endif %}


        {% if evenement.formulaires.option7 %}
            <th>{{ evenement.formulaires.option7 }}</th>
        {% else %}
            <th>Option7</th>
        {% endif %}


        {% if evenement.formulaires.option8 %}
            <th>{{ evenement.formulaires.option8 }}</th>
        {% else %}
            <th>Option8</th>
        {% endif %}


        {% if evenement.formulaires.option9 %}
            <th>{{ evenement.formulaires.option9 }}</th>
        {% else %}
            <th>Option9</th>
        {% endif %}

        </thead>
        <tbody>
        {% for startup in evenement.startups %}
            <tr>

            {% for element in startup.champsSoumis %}
                <td>{{element.startup.name }}</td>
                <td>{{element.satisfaction }}</td>
                <td>{{element.upgrade }}</td>
                <td>{{element.growth }}</td>
                <td>{{element.contacts }}</td>
                <td>{{element.comment }}</td>
                <td>{{element.source }}</td>
                <td>{{element.option1 }}</td>
                <td>{{element.option2 }}</td>
                <td>{{element.option3 }}</td>
                <td>{{element.option4 }}</td>
                <td>{{element.option5 }}</td>
                <td>{{element.option6 }}</td>
                <td>{{element.option7 }}</td>
                <td>{{element.option8 }}</td>
                <td>{{element.option9 }}</td>


            {% endfor %}
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
