{% extends 'layout.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{% block body %}
    {#<h1 class="t2">Questionnaire de retour sur le {{ formulaire.evenements.name }}</h1>#}
    {{ form_start(form) }}
    {% if formulaire.satisfaction %}
        {{ form_row(form.satisfaction) }}
    {% endif %}

    {% if formulaire.upgrade %}
        {{ form_row(form.upgrade) }}
    {% endif %}

    {% if formulaire.growth %}
        {{ form_row(form.growth) }}
    {% endif %}

    {% if formulaire.contacts %}
        {{ form_row(form.contacts) }}
    {% endif %}

    {% if formulaire.source %}
        {{ form_row(form.source) }}
    {% endif %}

    {% if formulaire.comment %}
        {{ form_row(form.comment) }}
    {% endif %}

    {% if formulaire.option1 is not empty %}
        {{ formulaire.option1}}
        {{ form_widget(form.option1) }}
    {% endif %}
    {% if formulaire.option2 is not empty %}
        {{ formulaire.option2}}
        {{ form_widget(form.option2) }}
    {% endif %}
    {% if formulaire.option3 is not empty %}
        {{ formulaire.option3}}
        {{ form_widget(form.option3) }}
    {% endif %}
    {% if formulaire.option4 is not empty %}
        {{ formulaire.option4}}
        {{ form_widget(form.option4) }}
    {% endif %}
    {% if formulaire.option5 is not empty %}
        {{ formulaire.option5}}
        {{ form_widget(form.option5) }}
    {% endif %}
    {% if formulaire.option6 is not empty %}
        {{ formulaire.option6}}
        {{ form_widget(form.option6) }}
    {% endif %}
    {% if formulaire.option7 is not empty %}
        {{ formulaire.option7}}
        {{ form_widget(form.option7) }}
    {% endif %}
    {% if formulaire.option8 is not empty %}
        {{ formulaire.option8}}
        {{ form_widget(form.option8) }}
    {% endif %}
    {% if formulaire.option9 is not empty %}
        {{ formulaire.option9}}
        {{ form_widget(form.option9) }}
    {% endif %}

    {{ form_row(form._token) }}



    <button class="btn btn-success mt-5">{{ button_label|default('Valider le formulaire') }}</button>

    {{ form_end(form,{'render_rest':false}) }}

{% endblock %}
