{% extends 'layout.html.twig' %}

{% block title %}Questionnaire{% endblock %}
{% block titre %} La COP <br/>du LAB'O{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <h1 class="t2">Questionnaire de retour sur le {{ formulaire.evenements.name }}</h1>
<div class=" col-8 text-center mt-4">

{{ form_start(form) }}
    <div  class="mt-1">
    {% if formulaire.satisfaction %}
        {{ form_label(form.satisfaction) }}
    </div><div>
        {{ form_widget(form.satisfaction) }}
    {% endif %}
        </div><div class="mt-3">
    {% if formulaire.upgrade %}
        {{ form_label(form.upgrade) }}
    </div><div>
        {{ form_widget(form.upgrade) }}
    {% endif %}
                </div><div class="mt-3">
    {% if formulaire.growth %}
        {{ form_label(form.growth) }}
        {{ form_widget(form.growth) }}
    {% endif %}
    </div><div class="mt-3">
    {% if formulaire.contacts %}
        {{ form_label(form.contacts) }}
    </div><div>
        {{ form_widget(form.contacts) }}
    {% endif %}
    </div><div class="mt-3">
    {% if formulaire.source %}
        {{ form_label(form.source) }}
    </div><div>
        {{ form_widget(form.source) }}
    {% endif %}
    </div><div class="mt-3">
    {% if formulaire.comment %}
        {{ form_label(form.comment) }}
    </div><div>
        {{ form_widget(form.comment) }}
    {% endif %}
    </div><div class="mt-3">
    {% if formulaire.option1 is not empty %}
        {{ formulaire.option1}}
    </div><div>
        {{ form_widget(form.option1) }}
    {% endif %}
    </div><div class="mt-3">
    {% if formulaire.option2 is not empty %}
        {{ formulaire.option2}}
    </div><div>
        {{ form_widget(form.option2) }}
    {% endif %}
    </div><div class="mt-3">
    {% if formulaire.option3 is not empty %}
        {{ formulaire.option3}}
    </div><div>
        {{ form_widget(form.option3) }}
    {% endif %}
    </div><div class="mt-3">
    {% if formulaire.option4 is not empty %}
        {{ formulaire.option4}}
    </div><div>
        {{ form_widget(form.option4) }}
    {% endif %}
    </div><div class="mt-3">
    {% if formulaire.option5 is not empty %}
        {{ formulaire.option5}}
    </div><div>
        {{ form_widget(form.option5) }}
    {% endif %}
    {% if formulaire.option6 is not empty %}
        {{ formulaire.option6}}
        {{ form_widget(form.option6) }}
    {% endif %}
    </div><div class="mt-3">
    {% if formulaire.option7 is not empty %}
        {{ formulaire.option7}}
    </div><div>
        {{ form_widget(form.option7) }}
    {% endif %}
    </div><div class="mt-3">
    {% if formulaire.option8 is not empty %}
        {{ formulaire.option8}}
    </div><div>
        {{ form_widget(form.option8) }}
    {% endif %}
    </div><div  class="mt-3">
    {% if formulaire.option9 is not empty %}
        {{ formulaire.option9}}
    </div><div>
        {{ form_widget(form.option9) }}
    {% endif %}
    </div>
    {{ form_row(form._token) }}



    <button class="btn btn-danger mt-5">{{ button_label|default('Valider le formulaire') }}</button>

    {{ form_end(form,{'render_rest':false}) }}
</div>

{% endblock %}
