{% extends 'base.html.twig' %}

{% block title %}StartUpRelation{% endblock %}

{% block body %}
    <h1>StartUpRelation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ start_up_relation.id }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ start_up_relation.action }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ start_up_relation.date ? start_up_relation.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Other</th>
                <td>{{ start_up_relation.other }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('start_up_relation_index') }}">back to list</a>

    <a href="{{ path('start_up_relation_edit', {'id': start_up_relation.id}) }}">edit</a>

    {{ include('start_up_relation/_delete_form.html.twig') }}
{% endblock %}
