{% extends 'base.html.twig' %}

{% block title %}Relation index{% endblock %}
{% block titre %}Les relations engagées{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Personne 1</th>
                <th>Personne 2</th>
                <th>Evénement</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for relation in relations %}
            <tr>
                <td>{{ relation.user1.id }}</td>
                <td>{{ relation.user2.id }}</td>
                <td>{{ relation.event }}</td>
                <td>{{ relation.date|date("m/d/Y") }}</td>
                <td>
                    <a href="{{ path('relation_show', {'id': relation.id}) }}">show</a>
                    <a href="{{ path('relation_edit', {'id': relation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('relation_new') }}">Create new</a>
{% endblock %}
